.CoinFeed-Container {
    display: grid;
    margin: 24px auto;
    grid-template-columns: repeat(5, 133px);
    gap: 20px;
    padding: 24px;
    background: #f8f9fa;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    max-width: 1200px;
    justify-content: center;
}